ChatCompletion/bin/Debug/net8.0/Azure.AI.OpenAI.dll
ChatCompletion/bin/Debug/net8.0/Azure.Core.dll
ChatCompletion/bin/Debug/net8.0/ChatCompletion
ChatCompletion/bin/Debug/net8.0/ChatCompletion.deps.json
ChatCompletion/bin/Debug/net8.0/ChatCompletion.dll
ChatCompletion/bin/Debug/net8.0/ChatCompletion.pdb
ChatCompletion/bin/Debug/net8.0/ChatCompletion.runtimeconfig.json
ChatCompletion/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Bcl.HashCode.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.AI.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.VectorData.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.Connectors.AzureOpenAI.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.Connectors.OpenAI.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.Core.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.dll
ChatCompletion/bin/Debug/net8.0/OpenAI.dll
ChatCompletion/bin/Debug/net8.0/System.ClientModel.dll
ChatCompletion/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
ChatCompletion/bin/Debug/net8.0/System.IO.Pipelines.dll
ChatCompletion/bin/Debug/net8.0/System.Memory.Data.dll
ChatCompletion/bin/Debug/net8.0/System.Numerics.Tensors.dll
ChatCompletion/bin/Debug/net8.0/System.Text.Encodings.Web.dll
ChatCompletion/bin/Debug/net8.0/System.Text.Json.dll
ChatCompletion/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
ChatCompletion/obj/ChatCompletion.csproj.nuget.dgspec.json
ChatCompletion/obj/ChatCompletion.csproj.nuget.g.props
ChatCompletion/obj/ChatCompletion.csproj.nuget.g.targets
ChatCompletion/obj/project.assets.json
ChatCompletion/obj/project.nuget.cache
ChatCompletion/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ChatCompletion/obj/Debug/net8.0/apphost
ChatCompletion/obj/Debug/net8.0/ChatCompletion.AssemblyInfo.cs
ChatCompletion/obj/Debug/net8.0/ChatCompletion.AssemblyInfoInputs.cache
ChatCompletion/obj/Debug/net8.0/ChatCompletion.assets.cache
ChatCompletion/obj/Debug/net8.0/ChatCompletion.csproj.AssemblyReference.cache
ChatCompletion/obj/Debug/net8.0/ChatCompletion.csproj.CopyComplete
ChatCompletion/obj/Debug/net8.0/ChatCompletion.csproj.CoreCompileInputs.cache
ChatCompletion/obj/Debug/net8.0/ChatCompletion.csproj.FileListAbsolute.txt
ChatCompletion/obj/Debug/net8.0/ChatCompletion.dll
ChatCompletion/obj/Debug/net8.0/ChatCompletion.GeneratedMSBuildEditorConfig.editorconfig
ChatCompletion/obj/Debug/net8.0/ChatCompletion.genruntimeconfig.cache
ChatCompletion/obj/Debug/net8.0/ChatCompletion.GlobalUsings.g.cs
ChatCompletion/obj/Debug/net8.0/ChatCompletion.pdb
ChatCompletion/obj/Debug/net8.0/ref/ChatCompletion.dll
ChatCompletion/obj/Debug/net8.0/refint/ChatCompletion.dll
ChatCompletion/launch.json
NativePlugins2.linq
ChatCompletion/bin/Debug/net8.0/YamlDotNet.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.Yaml.dll
ChatCompletion/AutoInvoke2.linq
ChatCompletion/AutoInvoke.linq
ChatCompletion/obj/Debug/net8.0/ChatCompletion.sourcelink.json
