ChatCompletion/bin/Debug/net8.0/Azure.AI.OpenAI.dll
ChatCompletion/bin/Debug/net8.0/Azure.Core.dll
ChatCompletion/bin/Debug/net8.0/ChatCompletion
ChatCompletion/bin/Debug/net8.0/ChatCompletion.deps.json
ChatCompletion/bin/Debug/net8.0/ChatCompletion.dll
ChatCompletion/bin/Debug/net8.0/ChatCompletion.pdb
ChatCompletion/bin/Debug/net8.0/ChatCompletion.runtimeconfig.json
ChatCompletion/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Bcl.HashCode.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.AI.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.VectorData.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.Connectors.AzureOpenAI.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.Connectors.OpenAI.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.Core.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.dll
ChatCompletion/bin/Debug/net8.0/OpenAI.dll
ChatCompletion/bin/Debug/net8.0/System.ClientModel.dll
ChatCompletion/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
ChatCompletion/bin/Debug/net8.0/System.IO.Pipelines.dll
ChatCompletion/bin/Debug/net8.0/System.Memory.Data.dll
ChatCompletion/bin/Debug/net8.0/System.Numerics.Tensors.dll
ChatCompletion/bin/Debug/net8.0/System.Text.Encodings.Web.dll
ChatCompletion/bin/Debug/net8.0/System.Text.Json.dll
ChatCompletion/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
ChatCompletion/obj/ChatCompletion.csproj.nuget.dgspec.json
ChatCompletion/obj/ChatCompletion.csproj.nuget.g.props
ChatCompletion/obj/ChatCompletion.csproj.nuget.g.targets
ChatCompletion/obj/project.assets.json
ChatCompletion/obj/project.nuget.cache
ChatCompletion/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ChatCompletion/obj/Debug/net8.0/apphost
ChatCompletion/obj/Debug/net8.0/ChatCompletion.AssemblyInfo.cs
ChatCompletion/obj/Debug/net8.0/ChatCompletion.AssemblyInfoInputs.cache
ChatCompletion/obj/Debug/net8.0/ChatCompletion.assets.cache
ChatCompletion/obj/Debug/net8.0/ChatCompletion.csproj.AssemblyReference.cache
ChatCompletion/obj/Debug/net8.0/ChatCompletion.csproj.CopyComplete
ChatCompletion/obj/Debug/net8.0/ChatCompletion.csproj.CoreCompileInputs.cache
ChatCompletion/obj/Debug/net8.0/ChatCompletion.csproj.FileListAbsolute.txt
ChatCompletion/obj/Debug/net8.0/ChatCompletion.dll
ChatCompletion/obj/Debug/net8.0/ChatCompletion.GeneratedMSBuildEditorConfig.editorconfig
ChatCompletion/obj/Debug/net8.0/ChatCompletion.genruntimeconfig.cache
ChatCompletion/obj/Debug/net8.0/ChatCompletion.GlobalUsings.g.cs
ChatCompletion/obj/Debug/net8.0/ChatCompletion.pdb
ChatCompletion/obj/Debug/net8.0/ref/ChatCompletion.dll
ChatCompletion/obj/Debug/net8.0/refint/ChatCompletion.dll
ChatCompletion/launch.json
NativePlugins2.linq
ChatCompletion/bin/Debug/net8.0/YamlDotNet.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.Yaml.dll
ChatCompletion/AutoInvoke2.linq
ChatCompletion/AutoInvoke.linq
ChatCompletion/obj/Debug/net8.0/ChatCompletion.sourcelink.json
ChatCompletion/bin/Debug/net8.0/AWSSDK.Core.dll
ChatCompletion/bin/Debug/net8.0/AWSSDK.SecurityToken.dll
ChatCompletion/bin/Debug/net8.0/ClosedXML.dll
ChatCompletion/bin/Debug/net8.0/ClosedXML.Parser.dll
ChatCompletion/bin/Debug/net8.0/DnsClient.dll
ChatCompletion/bin/Debug/net8.0/DocumentFormat.OpenXml.dll
ChatCompletion/bin/Debug/net8.0/DocumentFormat.OpenXml.Framework.dll
ChatCompletion/bin/Debug/net8.0/ExcelNumberFormat.dll
ChatCompletion/bin/Debug/net8.0/Google.Protobuf.dll
ChatCompletion/bin/Debug/net8.0/Grpc.Core.Api.dll
ChatCompletion/bin/Debug/net8.0/Grpc.Net.Client.dll
ChatCompletion/bin/Debug/net8.0/Grpc.Net.Common.dll
ChatCompletion/bin/Debug/net8.0/Handlebars.dll
ChatCompletion/bin/Debug/net8.0/Handlebars.Net.Helpers.dll
ChatCompletion/bin/Debug/net8.0/HandlebarsDotNet.Helpers.Core.dll
ChatCompletion/bin/Debug/net8.0/HtmlAgilityPack.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Configuration.CommandLine.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Configuration.UserSecrets.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Hosting.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Http.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Logging.Debug.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventLog.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventSource.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.KernelMemory.Abstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.KernelMemory.AI.Tiktoken.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.KernelMemory.Chunkers.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.KernelMemory.Core.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.ML.Tokenizers.Data.Cl100kBase.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.ML.Tokenizers.Data.O200kBase.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.ML.Tokenizers.Data.P50kBase.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.ML.Tokenizers.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.Connectors.MongoDB.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.Connectors.Qdrant.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.SemanticKernel.PromptTemplates.Handlebars.dll
ChatCompletion/bin/Debug/net8.0/MongoDB.Bson.dll
ChatCompletion/bin/Debug/net8.0/MongoDB.Driver.Core.dll
ChatCompletion/bin/Debug/net8.0/MongoDB.Driver.dll
ChatCompletion/bin/Debug/net8.0/MongoDB.Libmongocrypt.dll
ChatCompletion/bin/Debug/net8.0/Polly.Core.dll
ChatCompletion/bin/Debug/net8.0/Qdrant.Client.dll
ChatCompletion/bin/Debug/net8.0/RBush.dll
ChatCompletion/bin/Debug/net8.0/SharpCompress.dll
ChatCompletion/bin/Debug/net8.0/SixLabors.Fonts.dll
ChatCompletion/bin/Debug/net8.0/Snappier.dll
ChatCompletion/bin/Debug/net8.0/Stef.Validation.dll
ChatCompletion/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
ChatCompletion/bin/Debug/net8.0/System.IO.Packaging.dll
ChatCompletion/bin/Debug/net8.0/System.Linq.Async.dll
ChatCompletion/bin/Debug/net8.0/UglyToad.PdfPig.Core.dll
ChatCompletion/bin/Debug/net8.0/UglyToad.PdfPig.dll
ChatCompletion/bin/Debug/net8.0/UglyToad.PdfPig.DocumentLayoutAnalysis.dll
ChatCompletion/bin/Debug/net8.0/UglyToad.PdfPig.Fonts.dll
ChatCompletion/bin/Debug/net8.0/UglyToad.PdfPig.Package.dll
ChatCompletion/bin/Debug/net8.0/UglyToad.PdfPig.Tokenization.dll
ChatCompletion/bin/Debug/net8.0/UglyToad.PdfPig.Tokens.dll
ChatCompletion/bin/Debug/net8.0/ZstdSharp.dll
ChatCompletion/bin/Debug/net8.0/runtimes/linux/native/libmongocrypt.so
ChatCompletion/bin/Debug/net8.0/runtimes/osx/native/libmongocrypt.dylib
ChatCompletion/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
ChatCompletion/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll
ChatCompletion/bin/Debug/net8.0/runtimes/win/native/mongocrypt.dll
ChatCompletion/Docs/General_Telephony_Dashboard.md
ChatCompletion/Docs/Telephony and Licence - Knowledge.md
ChatCompletion/Docs/Telephony_Reports.md

.fake
ChatCompletion/Docs/Processed_Transcript_Document.docx
ChatCompletion/Docs/LicenceDashboard_Test.docx
ChatCompletion/bin/Debug/net8.0/BouncyCastle.Crypto.dll
ChatCompletion/bin/Debug/net8.0/ICSharpCode.SharpZipLib.dll
ChatCompletion/bin/Debug/net8.0/itext.barcodes.dll
ChatCompletion/bin/Debug/net8.0/itext.commons.dll
ChatCompletion/bin/Debug/net8.0/itext.forms.dll
ChatCompletion/bin/Debug/net8.0/itext.io.dll
ChatCompletion/bin/Debug/net8.0/itext.kernel.dll
ChatCompletion/bin/Debug/net8.0/itext.layout.dll
ChatCompletion/bin/Debug/net8.0/itext.pdfa.dll
ChatCompletion/bin/Debug/net8.0/itext.sign.dll
ChatCompletion/bin/Debug/net8.0/itext.styledxmlparser.dll
ChatCompletion/bin/Debug/net8.0/itext.svg.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.DotNet.PlatformAbstractions.dll
ChatCompletion/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
ChatCompletion/bin/Debug/net8.0/PdfSharpCore.dll
ChatCompletion/bin/Debug/net8.0/SixLabors.ImageSharp.dll
ChatCompletion/bin/Debug/net8.0/de/PdfSharpCore.resources.dll
ChatCompletion/obj/Debug/net8.0/ChatCompletion.sourcelink.json
ChatCompletion/obj/Debug/net8.0/ChatComp.B7C76145.Up2Date
